%% -*- erlang -*-
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.5.0"}}},
  {eavro, ".*", {git, "https://github.com/SIfoxDevTeam/eavro.git", {tag, "v0.0.2"}}},
  {edown, ".*", {git, "https://github.com/uwiger/edown.git", "HEAD"}},
  {erlcloud, ".*", {git, "https://github.com/gleber/erlcloud.git", {tag, "v0.10.0"}}},
  {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.8.2"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}}},
  {statsderl, ".*", {git, "https://github.com/lpgauth/statsderl.git", {tag, "v0.3.5"}}},
  {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.3.2-1"}}}
]}.
{erl_opts, [fail_on_warning, debug_info]}.
{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src/"]},
             {stylesheet, ""},
             {image, ""},
             {top_level_readme, {"./README.md", "https://github.com/gmr/estuary"}},
             {subpackages, true}]}.
{eunit_exclude_deps, true}.
{eunit_opts, [verbose, {skip_deps, true}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{lib_dirs,["deps"]}.
