%% -*- erlang -*-
{cover_enabled, true}.
{cover_opts, [verbose]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.2.4"}}},
        {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
        {eavro, ".*", {git, "https://github.com/SIfoxDevTeam/eavro.git", {tag, "v0.0.3"}}},
        {edown, ".*", {git, "https://github.com/uwiger/edown.git", {ref, "HEAD"}}},
        {httpc_aws, ".*", {git, "https://github.com/gmr/httpc-aws.git", {tag, "0.1.3"}}},
        {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.8.2"}}},
        {strftimerl, ".*", {git, "https://github.com/gmr/strftimerl.git", {tag, "0.1.2"}}},
        {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", {tag, "v0.4.0"}}},
        {worker_pool, ".*", {git, "https://github.com/inaka/worker_pool.git", {tag, "2.2.1"}}}
       ]}.
{dialyzer, [{plt_extra_apps, [kernel, stdlib]}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{edoc_opts, [{doclet, edown_doclet},
             {src_path, ["src/"]},
             {stylesheet, ""},
             {image, ""},
             {top_level_readme, {"./README.md", "https://github.com/gmr/estuary"}},
             {subpackages, true}]}.
{eunit_exclude_deps, true}.
{eunit_opts, [verbose, {skip_deps, true}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{lib_dirs,["deps"]}.
{minimum_otp_vsn, "R19R1"}.
{relx, [{release, {estuary, "0.1.0"}, [estuary]},
        {extended_start_script, true},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {dev_mode, true},
        {overlay, [{mkdir, "logs"}]}]}.
