[
 {
   kernel,
   [
    {inet_dist_listen_min, 9500},
    {inet_dist_listen_max, 9509}
   ]
 },
 {
   sasl,
   [
    {sasl_error_logger, {file, "logs/sasl.log"}}
   ]
 },
 {
   lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {crash_log, "logs/crash.log"},
    {
      handlers,
      [
       {lager_console_backend, info},
       {lager_file_backend, [{file, "logs/error.log"}, {level, error}]},
       {lager_file_backend, [{file, "logs/console.log"}, {level, info}]}
      ]
    }
   ]
 }
].
